.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mr-2{
  margin-right: 2px;

}
.mr-10{
  margin-right: 10px;
}

.body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15pt;
}
.one{
  width:98%;
  margin: auto;
  text-align: center;
}
.two{
  border: solid thin gray;
  float: left;
  margin:1% 0 0 3%;
}
.three{
  width: 100%;
  padding: auto;
  margin: 1%;
  text-align: center;
}
.four{
  height: 10px
}
.five{
  opacity: .8
}
.six{
  width:30%; 
  float: left;
}
.seven{
  text-align: center; 
  width:300px; 
  margin-top: 10px;
}
.eight{
  width: 30%; 
  margin: auto;
}
.screen{
  height: 550px;
  overflow-y: scroll;
}
.mlr-10{
  margin: 5px 10px;
}
.previewImage{
  max-height: 400px;
  max-width: 400px;
}

.disable{
  display: none;
}
.full-screen{
  overflow: hidden;
}
.table-render{
  width: 100%;
  padding: auto;
  text-align: center;
}
.auto{
  text-align: center;
}
.login{
  width: 50%;
  margin: 50px auto;
}

.show{
  display: block;
}
.hidden{
  display: none;
}
.ml-10{
  margin-left: 10px;
}
.float{
  float: inherit
}
.profile{
  color: white;
  background-color: white;
}